tmp
backup
results
.vscode
notes.md
nohup.out
code/logs
notes.txt
code/data
data/zsre
data/graph
data/stats
code/results
data/KnowEdit
# results/tmp_*
README_tmp.md
**/__pycache__
results/models
data/triplet
code/api_key.json
data/questions_old
requirements_tmp.txt
questions/all_3_types
data/questions/unfiltered
data/questions/old_3_types
data/questions/hallucination_all
data/questions/hallucination_final/meta_llama_3.1_8b_instruct
data/questions/hallucination_final/meta_llama_3.1_8b_instruct_100
# results/know_edit/old_eval
# results/all_results_tmp.zip
# results/know_edit/IKE/embedding